.catalog-title {
    margin-bottom: 8px;
}

.select {
    margin-bottom: 10px;
}

.select__body {
    border: 2px solid $blueColor;
    border-radius: 8px;
}

.select_open .select__title::after {
    transform: rotate(0deg);
    transition: $standartTrans;
}

.select__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../img/icons/icons.svg#select-arrow');
        transform: rotate(-90deg);
        transition: $standartTrans;
    }
}

.select__title,
.select__option {
    width: 100%;
    padding: 5px 15px;
    color: $yellowColor;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    text-align: left;
}

.select__option:not(:last-child) {
    border-bottom: 1px solid $blueColor;
}

.select__options {
    border-top: 1px solid $blueColor;
}

.filter__btn {
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background: $blueColor;
    padding: 5px;
    margin-bottom: 15px;
}

.calalog__products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 350px));
    gap: 10px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    @media (min-width: $laptop) {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 350px));
    }
}