.contacts__body {
    margin-top: 16px;

    @media (min-width: $tablet) {
        display: flex;
    }
}

.contacts__left-column {
    @media (min-width: $tablet) {
        flex: 50%;
        margin-right: 10px;
        margin-left: 5px;
    }

    @media (min-width: $laptop) {
        flex: 50%;
        margin-right: 20px;
        margin-left: 10px;
    }
}

.phones {
    margin-bottom: 16px;
}

.phones__title {
    margin-bottom: 10px;
}

.phones__list {
    margin-left: 30px;
}

.phones__item {
    font-size: 20px;

    a {
        transition: color 0.2s;
    }


    &:not(:last-child) {
        margin-bottom: 7px;
    }

    @media (any-hover: hover) {
        & a:hover {
            color: $yellowColor;
            transition: color 0.2s;
        }
    }
}

.form__title {
    margin-bottom: 10px;
}

.map {
    @media (min-width: $tablet) {
        flex: 50%;
    }
}

.map__title {
    margin-bottom: 10px;
}

.map__iframe iframe {
    width: 100%;
    min-width: 340px;
    min-height: 340px;

    @media (min-width: $laptop) {
        min-height: 400px;
    }
}