.filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: $blueColor;
    opacity: 0;
    pointer-events: none;
    transition: $standartTrans;

    &.is-open {
        opacity: 1;
        pointer-events: auto;
        transition: $standartTrans;
        overflow-y: auto;
    }

    @media (min-width: $laptop) {
        position: static;
        opacity: 1;
        pointer-events: auto;
        overflow-y: auto;
        z-index: 0;
    }
}

.filter__btn {
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background: $blueColor;
    padding: 7px 5px;
    margin-bottom: 15px;

    @media (min-width: $laptop) {
        display: none;
    }
}

.filter__close {
    width: 100%;
    text-align: right;
    background: transparent;
    padding: 8px 8px 0px 0px;

    @media (min-width: $laptop) {
        display: none;
    }
}

.filter-applied {
    margin: 10px;
    list-style: none;

    @media (min-width: $tablet) {
        font-size: 18px;
        margin: 10px 15px;
    }

    ul {
        list-style: none;
    }
}

.filter-applied__item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.filter-applied-item__title {
    padding: 8px;
    color: $whiteColor;
    border: 1px solid $whiteColor;
    border-radius: 5px;
    margin-bottom: 8px;
}

.filter-applied-item__option {
    margin-left: 8px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 16px;
        text-align: left;
        padding: 8px;
        border-radius: 5px;

        &::after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('../img/icons/icons.svg#close-white');
        }

        @media (min-width: $tablet) {
            font-size: 18px;
        }
    }
}

.filter__body {}

.filter__reset {
    font-size: 16px;
    color: $whiteColor;
    text-decoration: underline;
    background: transparent;
    margin: 0px 10px 16px 10px;
    transition: 0.2s;

    @media (min-width: $tablet) {
        font-size: 18px;
    }

    @media (any-hover: hover) {
        &:hover {
            color: $yellowColor;
            transition: 0.2s;
        }
    }
}

.filter-group {}

.filter-group__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: $whiteColor;
    padding: 10px;
    background: $yellowColor;
    margin-bottom: 10px;

    &::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url('../img/icons/icons.svg#arrow-right');
        transition: $standartTrans;
    }

    &._spoller-active::after {
        transform: rotate(90deg);
        transition: $standartTrans;
    }

    @media (min-width: $tablet) {
        padding: 15px;
        margin-bottom: 15px;
    }
}

.filter-group__title_price {
    &::after {
        display: none;
    }
}

.filter-group__price {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 14px;
}

.filter-group__input {
    max-width: 115px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;

    @media (min-width: $laptop) {
        max-width: 95px;
    }
}

.filter-group__line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: $whiteColor;
    margin: 0px 3px;
}

.filter-group__btn {
    padding: 7px;
    border-radius: 5px;
    margin-left: 15px;
}

.filter-group__range {
    background: $whiteColor;
    border: none;
    box-shadow: none;
    margin: 0px 20px 14px 17px;
    height: 15px;

    .noUi-connect {
        background: $greenColor;
    }

    .noUi-handle {
        top: -8px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background: $yellowColor;
        box-shadow: none;
        border: none;

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.filter-group__list {
    padding: 0 10px;
    margin-bottom: 10px;
    list-style: none;
}

.filter-group__item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 8px;

        @media (min-width: $tablet) {
            margin-bottom: 12px;
        }
    }
}

.filter-group__checkbox:checked+.filter-group__label {
    &::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/icons/icons.svg#check');
    }

    &:before {
        background: $greenColor;
    }
}

.filter-group__label {
    @media (any-hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }

    position: relative;
    font-size: 16px;
    color: $whiteColor;
    flex: auto;
    padding-left: 20px;

    &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background: $whiteColor;
        border-radius: 3px;
    }

    @media (min-width: $tablet) {
        font-size: 18px;
    }
}

.filter-group__info {
    color: $greyColor;
}