.footer {
    background: $secondaryColor;

    &__body {
        padding: 15px 0;
    
        @media (min-width: $mobileB) {
            padding: 25px 10px;
        }
    
        @media (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
        }
    
        @media (min-width: $laptop) {
            max-width: 85%;
        }
    }

    &__column {
        &_align_center {
            margin: 0 auto;
        }
    
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    
        @media (min-width: $tablet) {
            margin-right: 40px;
    
            &_last {
                order: 4;
            }
    
            &_align_center {
               margin: 0;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        color: $thirdColor;

        svg {
            fill: $thirdColor;
            @media (min-width: $tablet) {
                display: none;
            }
        }
    }

    &__phones {
        padding: 4px 0 0 10px;
    }
}
