.footer {
    background: $blueColor;
}

.footer__body {
    padding: 15px 0;

    @media (min-width: $mobileB) {
        padding: 25px 0;
    }

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $laptop) {
        max-width: 85%;
    }
}

.footer__column {
    &_align_center {
        align-self: center;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @media (min-width: $tablet) {
        margin-right: 40px;

        &.footer-column_last {
            order: 4;
        }

        &_align_center {
           align-self: baseline;
        }
    }
}

.footer-column__title {
    display: flex;
    align-items: center;
    color: $greenColor;

    svg {
        fill: $greenColor;
        @media (min-width: $tablet) {
            display: none;
        }
    }
}

.footer-column__list {
    list-style: none;
}

.footer-column__item {
    color: $whiteColor;
    padding: 4px 0px 4px 10px;
    transition: 0.2s;

    @media (any-hover: hover) {
        &:hover {
            color: $yellowColor;
            transition: 0.2s;
        }
    }
}