//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

//========================================================================================================================================================
//Header top
.header__top {}

.header__logo {
  height: 50px;
  display: flex;
  justify-content: center;
}

//========================================================================================================================================================
//Header interactive
.header-interactive {
  background: $blueColor;
  padding: 10px 0;
}

.header-interactive__container {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  gap: 8px;

  @media (min-width: 425px) {
    gap: 15px;
  }
}

.header-menu-icon {
  display: block;
  width: 30px;
  height: 15px;
  position: relative;
  left: -15px;
  background: transparent;

  span,
  &::before,
  &::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background: $whiteColor;
    display: inline-block;
    border-radius: 5px;

  }

  span {
    top: 50%;
    transform: translate(0, -50%);
  }

  &::before,
  &::after {
    content: "";
  }

  &::after {
    top: 0;
    transition: $standartTrans;
  }

  &::before {
    bottom: 0;
    transition: $standartTrans;
  }
}

html.menu-open .header-menu-icon {
  span {
    display: none;
  }

  &::after {
    top: 7px;
    transform: rotate(45deg);
    transition: $standartTrans;
  }

  &::before {
    bottom: 5px;
    transform: rotate(-45deg);
    transition: $standartTrans;
  }
}

//========================================================================================================================================================
//Header search
.header-search {
  display: flex;
}

.header-search__input {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #FFF;
  background: transparent;
  color: $whiteColor;

  &::placeholder {
    color: $greyColor;
    font-size: 14px;
  }
}

.header-search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  background-color: $yellowColor;
  border-radius: 0px 5px 5px 0px;
  transform: translate(-1px, 0);

  span {
    display: none;
  }

  &:active {
    box-shadow: 0px 0px 8px 2px $yellowColor;
    transition: $standartTrans;
  }

  @media (min-width: 425px) {
    width: 50px;
  }
}

//========================================================================================================================================================
.header-interactive__group {
  display: flex;
}

//Header contacts
.header-contacts {
  max-width: 30px;
  margin-right: 8px;
  position: relative;

  &.active {
    .header-contacts__body {
      transition: 0.4s;
      box-shadow: 0px 5px 8px 4px rgba($blueColor, 30%);
    }
  }
}

.header-contacts__btn {
  background: transparent;

  svg {
    fill: $whiteColor;
  }
}

.header-contacts__body {
  position: absolute;
  top: 42px;
  height: max-content;
  max-height: 0;
  left: -46px;
  width: max-content;
  overflow: hidden;
  transition: 0.4s;
  z-index: 2;
  background: $blueColor;
  box-shadow: 0px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column-reverse;
}

.header-socials {
  display: flex;
  padding: 10px 5px;
}

.header-socials__item {
  svg {
    fill: $whiteColor;
  }

  &:first-child {
    margin-right: 10px;
  }
}

.header-phones {}

.header-phones__item {
  padding: 10px 5px;
  border-bottom: 1px solid $whiteColor;

  a {
    color: $whiteColor;
  }
}

//========================================================================================================================================================
//Header cart
.header-cart {
  background: transparent;
  position: relative;

  svg {
    fill: $whiteColor;
  }
}

.header-cart__text {
  display: none;
}

.header-cart__number {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background: $greenColor;
  color: $whiteColor;
  border-radius: 50%;
  font-size: 11px;
}

//========================================================================================================================================================
//Header bottom
.header__bottom {
  background: $blueColor;
  height: 0;
  font-size: 18px;
  font-weight: 500;
  color: $whiteColor;
  overflow-y: scroll;
  transition: $standartTrans;
  border-top: 1px solid $whiteColor;

  a {
    width: 100%;
  }
}

html.menu-open .header__bottom {
  transition: $standartTrans;
  height: calc(100vh - (53px + 50px));
}

.header-menu {}

.header-menu__item {
  padding: 10px;
  border-bottom: 1px solid $whiteColor;
  transition: $standartTrans;

  &:active {
    padding-left: 20px;
    transition: $standartTrans;
  }
}

.header-menu__item:first-child {
  padding: 0;
  transition: none;
}

.header-catalog {
  &.active .header-catalog__btn::after {
    transform: rotate(90deg);
    transition: $standartTrans;
  }
}

.header-catalog__btn {
  padding: 10px;
  background: $yellowColor;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  position: relative;
  width: 100%;
  text-align: left;

  &::after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background-image: url('../../img/icons/icons.svg#arrow-right');
    width: 20px;
    height: 20px;
    transition: $standartTrans;
  }
}

.header-catalog__list {
  max-height: 0;
  overflow: hidden;
  transition: $standartTrans;
}

.hedaer-catalog__item {
  padding: 10px 10px 10px 20px;
  transition: $standartTrans;

  &:not(:last-child) {
    border-bottom: 1px solid $whiteColor;
  }

  &:active {
    padding-left: 30px;
    transition: $standartTrans;
  }
}