//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $whiteColor;
}

//========================================================================================================================================================
//Header top
.header__top {
  @media (min-width: $tablet) {
    max-width: $containerWidth + px;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $laptop) {
    padding: 20px;
    gap: 80px;
  }
}

.header__logo {
  height: 50px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: start;
  }
}

//========================================================================================================================================================
//Header interactive
.header-interactive {
  background: $blueColor;
  padding: 10px 0;

  @media (min-width: $tablet) {
    background: transparent;
    padding: 0;
  }
}

.header-interactive__container {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  gap: 8px;

  @media (min-width: $mobileB) {
    gap: 15px;
  }

  @media (min-width: $tablet) {
    padding: 0;
    justify-content: space-between;
    grid-template-columns: 1fr max-content;
  }

  @media (min-width: $laptop) {
    gap: 50px;
  }
}

//========================================================================================================================================================
//Header burger icon
.header-menu-icon {
  display: block;
  width: 30px;
  height: 15px;
  position: relative;
  left: -15px;
  background: transparent;

  span,
  &::before,
  &::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background: $whiteColor;
    display: inline-block;
    border-radius: 5px;

  }

  span {
    top: 50%;
    transform: translate(0, -50%);
  }

  &::before,
  &::after {
    content: "";
  }

  &::after {
    top: 0;
    transition: $standartTrans;
  }

  &::before {
    bottom: 0;
    transition: $standartTrans;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

html.menu-open .header-menu-icon {
  span {
    display: none;
  }

  &::after {
    top: 7px;
    transform: rotate(45deg);
    transition: $standartTrans;
  }

  &::before {
    bottom: 5px;
    transform: rotate(-45deg);
    transition: $standartTrans;
  }
}

//========================================================================================================================================================
//Header search
.header-search {
  display: flex;
  max-width: 700px;
}

.header-search__input {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #FFF;
  background: transparent;
  color: $whiteColor;
  outline: none;

  &::placeholder {
    color: $greyColor;
    font-size: 14px;
  }

  @media (min-width: $tablet) {
    color: $blackColor;
    border: 1px solid $greyColor;
  }
}

.header-search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  border-radius: 0px 5px 5px 0px;
  transform: translate(-1px, 0);

  span {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      font-size: 14px;
      color: $whiteColor;
    }
  }

  &:active {
    box-shadow: 0px 0px 8px 2px $yellowColor;
    transition: $standartTrans;
  }

  @media (min-width: $mobileB) {
    width: 50px;
  }

  @media (min-width: $tablet) {
    width: max-content;
    padding: 5px 8px;

    svg {
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }
}

//========================================================================================================================================================
.header-interactive__group {
  display: flex;
  align-items: center;
}

//Header contacts
.header-contacts {
  max-width: 30px;
  margin-right: 8px;
  position: relative;

  &.active {
    .header-contacts__body {
      transition: 0.4s;
      box-shadow: 0px 5px 8px 4px rgba($blueColor, 30%);
    }
  }

  @media (min-width: $tablet) {
    max-width: none;
  }

  @media (min-width: $laptop) {
    margin-right: 30px;
  }
}

.header-contacts__btn {
  background: transparent;

  svg {
    fill: $whiteColor;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.header-contacts__body {
  position: absolute;
  top: 42px;
  left: -46px;
  width: max-content;
  overflow: hidden;
  transition: 0.4s;
  z-index: 2;
  background: $blueColor;
  box-shadow: none;
  border-radius: 0 0 5px 5px;

  @media (min-width: $tablet) {
    display: flex;
    position: static;
    background: transparent;
    flex-direction: row-reverse;
  }
}

.header-socials {
  display: flex;
  padding: 10px 5px;

  @media (min-width: $tablet) {
    align-items: center;
    padding: 0;
    margin-right: 15px
  }
}

.header-socials__item {
  svg {
    fill: $whiteColor;
    transition: $standartTrans;

    @media (min-width: $tablet) {
      fill: $blackColor;
    }

    @media (any-hover: hover) {
      &:hover {
        fill: $yellowColor;
        transition: $standartTrans;
      }
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.header-phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-phones__item {
  padding: 10px 5px;
  border-bottom: 1px solid $whiteColor;

  a {
    color: $whiteColor;
  }

  @media (min-width: $tablet) {
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    a {
      font-weight: 500;
      color: $blackColor;
      transition: $standartTrans;
    }
  }

  @media (any-hover: hover) {
    a:hover {
      color: $yellowColor;
      transition: $standartTrans;
    }
  }
}

//========================================================================================================================================================
//Header cart
.header-cart {
  background: transparent;
  position: relative;

  svg {
    fill: $whiteColor;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    background: $yellowColor;
    border-radius: 5px;
    padding: 8px;
    height: max-content;

    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.header-cart__text {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
    font-size: 14px;
    color: $whiteColor;
    margin-left: 7px;
  }
}

.header-cart__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background: $greenColor;
  color: $whiteColor;
  border-radius: 50%;
  font-size: 11px;

  @media (min-width: $tablet) {
    font-size: 14px;
    width: 22px;
    height: 22px;
    top: -10px;
    right: -10px;
  }
}

//========================================================================================================================================================
//Header bottom
.header__bottom {
  background: $blueColor;
  height: 0;
  font-size: 18px;
  font-weight: 500;
  color: $whiteColor;
  overflow-y: scroll;
  transition: $standartTrans;
  border-top: 1px solid $whiteColor;

  a {
    width: 100%;
  }

  @media (min-width: $tablet) {
    height: auto;
    overflow-y: visible;
  }
}

html.menu-open .header__bottom {
  transition: $standartTrans;
  height: calc(100vh - (53px + 50px));
}

.header-menu {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header-menu__item {
  border-bottom: 1px solid $whiteColor;

  a {
    padding: 10px;
    transition: $standartTrans;
  }

  a:active {
    padding-left: 20px;
    transition: $standartTrans;
  }

  @media (min-width: $tablet) {
    border-bottom: none;

    a {
      padding: 15px;
      transition: 0.1s;
    }

    a:active {
      padding-left: 15px;
    }
  }

  @media (any-hover: hover) {
    &:hover>a {
      color: $yellowColor;
      transition: 0.1s;
    }
  }
}

.header-menu__item:first-child {
  padding: 0;
  transition: none;
}

.header-catalog {
  position: relative;
}

.header-catalog__btn {
  padding: 10px;
  background: $yellowColor;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  position: relative;
  width: 100%;
  text-align: left;

  &::after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background-image: url('../../img/icons/icons.svg#arrow-right');
    width: 20px;
    height: 20px;
    transition: $standartTrans;
  }

  &._spoller-active::after {
    transform: rotate(90deg);
    transition: $standartTrans;
  }

  @media (min-width: $tablet) {
    padding: 14px 27px 14px 14px;

    &::after {
      position: absolute;
      right: 7px;
      top: 18px;
      content: '';
      display: inline-block;
      background-image: url('../../img/icons/icons.svg#arrow-right');
      width: 15px;
      height: 15px;
      transition: $standartTrans;
    }
  }
}

.header-catalog__list {
  @media (min-width: $tablet) {
    position: absolute;
    top: 49px;
    z-index: 2;
    background: $blueColor;
    min-width: 200px;
    overflow-y: auto;
    max-height: calc(100vh - 140px);
    width: 400px;
    max-width: max-content;
  }
}

.hedaer-catalog__item {
  a {
    padding-left: 20px;
    transition: $standartTrans;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $whiteColor;
  }

  a:active {
    padding-left: 30px;
    transition: $standartTrans;
  }

  @media (any-hover: hover) {
    a:hover {
      color: $yellowColor;
      transition: 0.1s;
    }
  }
}