.new {
    position: relative;

    &__title {
        padding: 10px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid $textColor;
    
        @media (min-width: $laptop) {
            margin-bottom: 20px;
        }
    }
}
