.pagging {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagging__arrow {
    display: flex;
    align-items: center;

    svg {
        fill: $blueColor;
    }

    @media (min-width: $tablet) {
        svg {
            width: 35px;
            height: 35px;
        }
    }
}

.pagging__arrow_left {}

.pagging__list {
    display: flex;
}

.pagging__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    margin-right: 1px;
    font-size: 18px;
    font-weight: 500;
    color: $whiteColor;
    background: $blueColor;
    border: 1px solid $blueColor;

    &.pagging__item_active {
        color: $blueColor;
        background: transparent;
    }

    @media (min-width: $mobileB) {
        min-width: 30px;
        height: 30px;
        font-size: 20px;
    }

    @media (min-width: $tablet) {
        min-width: 35px;
        height: 35px;
        font-size: 22px;
    }
}

.pagging__item_active {}

.pagging__arrow_right {
    transform: rotate(180deg);
}