.reviews__title {
    margin-bottom: 15px;
}

.reviews__form {
    margin-top: 15px;
    margin-bottom: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating__body {
    display: inline-block;
    position: relative;
    font-size: 25px;
    margin-right: 8px;

    &::before {
        content: "★★★★★";
        display: block;
    }
}

.rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: $addtionalColor;
}

.rating__label::before {
    content: "★";
    display: block;
    transition: $standardTrans;
}

.rating__label:hover,
.rating__label:hover~.rating__label,
.rating__label:checked~.rating__label:hover,
.rating__item:checked,
.rating__item:checked~.rating__label {
    color: $accentColor;
}

.rating__value {
    font-size: 18px;
    font-weight: 500;

    @media (min-width: $tablet) {
        font-size: 20px;
    }
}

//========================================================================================================================================================

//reviews__list
.reviews__list {
    list-style: none;
    margin-bottom: 25px;
}

.reviews-item {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    @media (min-width: $laptop) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.reviews-item__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.reviews-item__title {
    font-size: 20px;
    margin-right: 5px;

    @media (min-width: $tablet) {
        font-size: 22px;
        margin-right: 8px;
    }
}

.reviews-item__date {
    font-size: 14px;
    color: $addtionalColor;
    align-self: self-end;
    flex: auto;
    margin-right: 20px;
}

.user-rating {
    display: flex;
    align-items: center;
}

.user-rating__list {
    margin-right: 5px;

    @media (min-width: $tablet) {
        margin-right: 8px;
    }
}

.user-rating__item {
    font-size: 18px;
    letter-spacing: -4px;
    color: $addtionalColor;

    &._active {
        color: $accentColor;
    }

    @media (min-width: $tablet) {
        font-size: 20px;
    }
}

.user-rating__value {
    @media (min-width: $tablet) {
        font-size: 18px;
    }
}

.review-item__text {
    margin-bottom: 0;
}