.breadcrumbs {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
}

.breadcrumbs__item {
  font-size: 14px;

  &:not(:last-child) {
      display: flex;
      margin-right: 5px;

      a {
          margin-right: 5px;

          &:hover {
              text-decoration: underline;
          }
      }

      &::after {
          content: '/';
          display: block;
      }
  }

  .breadcrumbs__item-current {
      font-weight: 600;
  }
}