.logo {
  max-height: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &_border-radius {
    border-radius: 5px;
  }

  @media (min-width: $tablet) {
    max-height: 70px;
  }

  @media (min-width: $laptop) {
    justify-content: start;
  }
}