.phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  &__item {
    padding: 5px 0;

    @media (min-width: $laptop) {
      a {
        font-weight: 500;
        transition: $standardTrans;
      }
    }
  
    @media (any-hover: hover) {
      a:hover {
        color: $accentColor;
        transition: $standardTrans;
      }
    }
  }
}