.phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  &__item {
    padding: 10px 5px;
  
    a {
      color: $whiteColor;
    }
  
    @media (min-width: $laptop) {
      padding: 0;
  
      &:not(:last-child) {
        margin-bottom: 5px;
      }
  
      a {
        font-weight: 500;
        transition: $standardTrans;
      }
    }
  
    @media (any-hover: hover) {
      a:hover {
        color: $yellowColor;
        transition: $standardTrans;
      }
    }
  }
}