input,
textarea {
    &:focus {
        border: 1px solid rgba($yellowColor, 30%);
        box-shadow: 0px 0px 8px 2px $yellowColor;
    }
}

section {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
        margin-bottom: 25px;
    }
}

.button {
    background: $yellowColor;
    transition: $standartTrans;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px 8px 2px $yellowColor;
            transition: $standartTrans;
        }
    }
}

.title-first {
    font-size: 30px;
    font-weight: 700;

    @media (min-width: $tablet) {
        font-size: 36px;
    }
}

.title-second {
    font-size: 25px;
    font-weight: 500;

    @media (min-width: $tablet) {
        font-size: 32px;
    }
}

//form
.form {
    @media (min-width: $laptop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &>* {
            flex: 100%;
        }
    }
}

@media (min-width: $laptop) {
    .form__input-label._half-row {
        flex-basis: 48%;
        flex-grow: 0;
    }
}

.form__input-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.form__input,
.form__textarea {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid $greyColor;
    margin-bottom: 16px;
}

.form__textarea {
    resize: none;
    max-height: 135px;
}

.form__footer {
    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.form__btn {
    width: 100%;
    background: $yellowColor;
    color: $whiteColor;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;

    &:active {
        transform: scale(0.9);
    }

    @media (min-width: $tablet) {
        max-width: 200px;
    }
}