input,
textarea {
    &:focus {
        border: 1px solid rgba($yellowColor, 30%);
        box-shadow: 0px 0px 8px 2px $yellowColor;
    }
}

.button {
    font-size: 16px;
    background: $yellowColor;
    transition: $standartTrans;
    color: $whiteColor;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px 8px 2px $yellowColor;
            transition: $standartTrans;
        }
    }
}

//========================================================================================================================================================

//titles
.title-first,
h1 {
    font-size: 30px;
    font-weight: 700;

    @media (min-width: $tablet) {
        font-size: 36px;
    }
}

.title-second,
h2 {
    font-size: 25px;
    font-weight: 500;

    @media (min-width: $tablet) {
        font-size: 32px;
    }
}

.title-third,
h3 {
    font-size: 20px;
    font-weight: 500;

    @media (min-width: $tablet) {
        font-size: 25px;
    }
}

//========================================================================================================================================================

//form
.form {
    @media (min-width: $laptop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &>* {
            flex: 100%;
        }
    }
}

@media (min-width: $laptop) {
    .form__input-label._half-row {
        flex-basis: 48%;
        flex-grow: 0;
    }
}

.form__input-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.form__input,
.form__textarea {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid $greyColor;
    margin-bottom: 16px;
}

.form__textarea {
    resize: none;
    max-height: 135px;
}

.form__footer {
    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.form__btn {
    width: 100%;
    background: $yellowColor;
    color: $whiteColor;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 15px;
    margin-bottom: 16px;

    &:active {
        transform: scale(0.9);
    }

    @media (min-width: $tablet) {
        max-width: max-content;
    }
}

//========================================================================================================================================================


//breadcrumbs
.breadcrumbs {
    display: flex;
    margin-bottom: 10px;
    list-style: none;
}

.breadrrumbs__item {
    font-size: 14px;

    &:not(:last-child) {
        display: flex;
        margin-right: 5px;

        a {
            margin-right: 5px;
        }

        &::after {
            content: '/';
            display: block;
        }
    }
}

//========================================================================================================================================================

//special class
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//========================================================================================================================================================

//table
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    &:nth-child(2n) {
        background: $greyColor;
    }
}

td,
th {
    text-align: left;
    padding: 10px 5px;
    border: 1px solid $blackColor;

    @media (min-width: $laptop) {
        font-size: 18px;
        padding: 15px 10px;
    }
}

//========================================================================================================================================================

p {
    margin-bottom: 10px;
}